* {
  text-align: center;
}

body {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 1rem;
}

.input {
  border: 1px solid #333;
  border-radius: .3em;
  padding: .25rem;
  width: 15em;
  font-size: 1.5rem;
}

select {
  margin-left: .5rem;
  font-size: 1.3rem;
  width: 8em;
}

.equals {
  font-weight: bold;
  font-size: 5rem;
}